/* Lo hacemos responsive:  */
/*Vista tablet*/
/*768px hasta 1023px*/
@media (max-width: 1023px) {
    /*Header*/
    .encabezado {
      height: auto;
      flex-direction: column;
      text-align: center;
    }
    .encabezado .boton {
      display: none;
    }
    /*Banner*/
    .bannerContenido p {
      font-size: 2.5rem;
    }
    /*Destinos*/
    .destinos {
      margin: 5vh;
      font-size: 2rem;
    }
    .destinos h3,
    .destinos p {
      font-size: inherit;
    }
    .contenedorDestinos {
      grid-template-columns: 1fr 1fr;
    }
    /*Guias*/
    .contenedorGuias {
      flex-direction: column;
    }
    /*Footer*/
    .footerContenido {
      flex-direction: column;
      text-align: center;
    }
    .formContacto {
      width: 80vw;
    }
  }
  /*Ajustes específicos para la vista móvil*/
  /*0 hasta 768px*/
  @media (max-width: 768px) {
    /*Destinos */
    .contenedorDestinos {
      grid-template-columns: 1fr;
    }
    .formContacto {
      width: 95vw;
    }
  }